<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qymlxin.dao.BookMapper">

    <!--增加一本书-->
    <insert id="addBook" parameterType="Book">
        insert into ssmbuild.books ( bookName, bookCounts, detail)
        values (#{bookName},#{bookCounts},#{detail});
    </insert>

    <!--根据bookID删除一本书-->
    <delete id="deleteBookById" parameterType="int">
        delete from ssmbuild.books
        where bookID=#{bookID};
    </delete>

    <!--更新一本书-->
    <update id="updateBook" parameterType="Book">
        update ssmbuild.books
        set bookName = #{bookName}, bookCounts = #{bookCounts}, detail = #{detail}
        where bookID = #{bookID};
    </update>

    <!--根据bookID查询一本书-->
    <select id="queryBookById" resultType="Book">
        select *
        from ssmbuild.books
        where bookID = #{bookID};
    </select>

    <!--查询全部书籍-->
    <select id="queryAllBook" resultType="Book">
        select * from ssmbuild.books
    </select>

    <select id="queryBookByName" resultType="Book">
        select *
        from ssmbuild.books
        where bookName=#{bookName};
    </select>

</mapper>